footer {
	background: #212123;
	max-width: 1237px;
	width: 82.5%;
	margin: 0 auto;
	padding: 30px 0;
	color: #cdcdce;
	font-size: 0.9em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}