.trailer-column-left {
    float: left;
    width: 47%;
    padding: 5px;
    letter-spacing: 1px;
}
.trailer-column-right {
    float: left;
    width: 50%;
    padding: 5px;
    letter-spacing: 1px;
}

.trailer {
    max-width: 73.5%;
    margin: 0 auto;
}

img {
    width: 82.5%;
}
span {
    font-size: 1.3em;
    color: #007aff;
    letter-spacing: 2px;
}

.main-body {
    margin: 0px auto !important;
    max-width: 1500px;
}

.content {
	background: #131313;
	width: 82.5%;
	margin: 0 auto;
	padding-top: 2.5%;
    .genesis {
        width: 90%;
        box-shadow: 0 0 10px 1px black;
    }
    .center {
        text-align: left;
        padding-left: 5%;
        color: #cdcdce;
        width: 90%;
        .unique {
            font-size: 1.2em;
            letter-spacing: 1px;
        }
        hr {
            color: #007aff;
            text-align: left;
            margin: 0;
            width: 90%;
        }
        p {
            font-size: 1.3em;
            letter-spacing: 1px;
        }
        .dlc-image {
            float: left;
            width: 33.3%;
            text-align: center;
            .dlc-items {
                list-style: none;
                text-align: center;
                img {
                    box-shadow: 0 0 10px 1px black;
                }
                .dlcs a {
                    text-decoration: none;
                    display: inline-block;
                    padding: 1.5%;
                }
            }
        }
        .unique-class {
            float: left;
            width: 33.3%;
            a {
                text-decoration: none;
                display: inline-block;
                padding: 1.5%;
            }
            .unique-creatures img {
                width: 30px;
                height: 30px;
                background: white;
                vertical-align: middle;
            }
        }
        .items{
            display: inline-block;
            padding: 1.5%;
            .items-class {
                float: left;
                width: 50%;
            }
            .resources img {
                width: 30px;
                height: 30px;
                vertical-align: middle;
            }
            .items-ul a {
                text-decoration: none;
                display: inline-block;
                padding: 1.5%;
                
            }
        }
        .saddles-ul a {
            text-decoration: none;
            display: inline-block;
            padding: 1.5%;
        }
        .up {
            width: 5%;
            text-align: center;
            margin: 0 auto;
            img {
                width: 50px;
                height: 50px;
                background: #0c3f65;
                border-radius: 150px;
                padding: 0.5%;
            }
            a:hover {
                opacity: 0.5;
            }
        }
    }
}