.custom-menu-class {
	background: linear-gradient(90deg, rgba(34,34,34,1) 24%, rgba(26,27,30,1) 62%, rgba(25,26,29,1) 100%);
	margin: 0 auto;
	max-width: 1237px;
    width: 82.5%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #007aff;
	position: -webkit-sticky;
    position: sticky;
    top: 0;
    ul {
        text-decoration: none;
        text-align: left;
    }
        .navbar-nav a:hover {
            color: #007aff;
          }
          .navbar-nav img {
              width: 5%;
              display: inline-block;
              vertical-align: middle;
          }
          .icons {
            display: inline-block;
            cursor: pointer;
            border-radius: 2px;
            font-size: 20px;
            line-height: 20px;
            float: none;
            padding: 1% 2% 0 0;
              .fa {
                  font-size: 20px;
                  width: 30px;
                  text-decoration: none;
                  text-align: center;
                  border-radius: 10px;
                  padding: 7px 1px 5px 2px;
                  background: #007d7d;
              }
              .fa:hover {
                  background: white;
              }
              a:hover {
                  color: #007aff;
                }
          }
  }